h1 {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round&amp;display=swap");

.container {
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  background: #ffffff;
  width: 320px;
  height: 210px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 10px 30px #4148560d;
  padding: 30px 45px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  font: 400 24px "Varela Round", sans-serif;
  justify-content: center;
  left: 150px;
}

label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  user-select: none;
  transition: color 0.3s ease;
}

label:before,
label:after {
  content: "";
  position: absolute;
}

label:before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  height: 15px;
  margin: 0 15px 0 0;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

input[type="checkbox"]::before {
  right: 60%;
  transform-origin: right bottom;
}

input[type="checkbox"]::after {
  left: 40%;
  transform-origin: left bottom;
}

input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px var(--check), 0 0 0 -2px var(--check),
      0 0 0 -2px var(--check), 0 0 0 -2px var(--check), 0 0 0 -2px var(--check),
      0 0 0 -2px var(--check);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px var(--check), 14px -8px 0 0px var(--check),
      14px 8px 0 0px var(--check), 0 15px 0 0px var(--check),
      -14px 8px 0 0px var(--check), -14px -8px 0 0px var(--check);
  }
}

body {
  background: url("https://clipart-library.com/images_k/notepad-transparent-background/notepad-transparent-background-8.png")
    center/cover;
  background-repeat: no-repeat;
}
